@media all and (max-width: 1150px) {
    .container {
        padding: 0 10px;
        max-width: 770px;
        
    }
    .row {
        margin: 0;
        max-width: 420px;
    }
    .nav {
        align-items: center;
    }
     img {
        align-items: unset;
        flex-direction: column;
    }
    header img {
        margin-top: unset;
    }
    .box {
        padding: 0 10px;
        max-width: 770px;
    }
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .section {
        padding: 20px 0;
    }
    .corporate h2 {
        text-align: center;
        font-size: 12px;
    }
    .corporate p {
        text-align: center;
        font-size: 12px;
    }
    .restaurant {
        padding: 0 10px;
        max-width: 770px;
    }
    .col-5 {
        width: 100%;
        padding: unset;
    }
    .champ button {
        width: 50px;
        height: 17px;
        font-size: 10px;
        top: 10px;
    }
    .col-6 {
        width: 100%;
        padding: unset; 
    }
    .parent {
        padding: 0 10px;
        max-width: 770px;
    }
    .text-3 {
        font-size: 12px;
    }
    .more {
        padding: 0 10px;
        max-width: 770px;
    }
    .container-btn {
        width: 50px;
        height: 17px;
        font-size: 10px;
        top: 10px;
    }
    .button {
        width: 50px;
        height: 17px;
        font-size: 10px;
        top: 10px;
    }  
    .container-footer {
        padding: 0 10px;
        max-width: 770px;
    } 
    .insta {
        font-size: 12px;
    }
    .instagram {
        padding: 0 10px;
        max-width: 770px;
    }
}